.navbar{
    background:#111111;
    color:white;
    padding:0 20px;
}

.logo{
    font-size:24px;
    font-weight:700;
    color:#D4AF37;
}

.spacer{
    flex:1;
}

a{
    color:white;
    text-decoration:none;
}
